# Visual Studio ile ilgili
.vs/
*.user
*.suo
*.cache
*.log

# Yapı (Build) Dosyaları
bin/
obj/

# Kullanıcıya Özgü Dosyalar
*.ide*
*.swp
*.bak
*.tmp

# ASP.NET için
wwwroot/**/*.log
wwwroot/**/*.tmp
wwwroot/**/*.cache
wwwroot/**/*.bak

# Paket Yöneticisi Dosyaları
node_modules/
package-lock.json
yarn.lock

# Geliştirme Ayarları
appsettings.Development.json

# Git ile İlgili
*.orig

# Geçici Dosyalar
*.tmp
*.temp
~*

# Çekirdek Dumps
*.pid
*.dmp

# MacOS İlgili
.DS_Store

# Windows İlgili
Thumbs.db
desktop.ini

# Linux İlgili
*.swp
