# Visual Studio için
.vs/
*.user
*.suo
*.cache
*.log

# Yapı (Build) Dosyaları (Bin ve Obj Takipte Kalabilir)
bin/
obj/

# Kullanıcıya Özgü Dosyalar
*.ide*
*.swp
*.bak
*.tmp

# ASP.NET için
# wwwroot'u tamamen ignore etmek yerine altındaki geçici dosyaları ignore edebilirsiniz
wwwroot/**/*.log
wwwroot/**/*.tmp

# Geliştirme Ayarları
appsettings.Development.json
