@model IEnumerable<BarberApp.Models.Appointment>

@{
    var customerName = Context.Session.GetString("CustomerName");
}
  
    <div class="container mt-5">
        <h2 class="text-center">Geçmiş Randevularım</h2>

        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Randevu Tarihi</th>
                        <th scope="col">Çalışan</th>
                        <th scope="col">Yetenek</th>
                        <th scope="col">Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointment in Model)
                    {
                        <tr>
                            <td>@appointment.Date</td>
                            <td>@appointment.Employee.Name</td>
                            <td>@appointment.Skill.Title</td>
                            <td>@appointment.Status.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info">Henüz geçmiş bir randevunuz yok.</div>
        }
    </div>
